.left-float
{
float: left;
}

.right-float
{
float: right;
}

.center-float{
    clear: both;
}

#first-name,#occupation,#city
{
    grid-column: 2/4;
}

#last-name,#phone,#country
{
    grid-column: 5/7;
}

#birth-day
{
    grid-column: 2/5;
}

.left-float
{
    grid-column: 1/2;
}

#edit-profile-container{
    padding: 5vw 5vh;
    width: 100vh;
    margin: auto;
    border: 5px solid #2aabd2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1vw;
}

#image-container{
    width : 20vw;
    margin: auto;
    text-align: center;
}

#profile-img-tag
{
    width: 10vw;
    height: 20vh;
    border: 1px solid #2aabd2;
    margin: 2vh;

}
#image-select
{
    width : 20vw;
    margin: auto;
    margin-left: 5vw;
    text-align: center;
}

